<div class="container-fluid">
    <div class="container">
        <div class="row mt-4" style="height: 500px;">
            <div class="col"></div>
            <div class="col-md-6 bg-white shadow rounded">
                <div class="card mt-4" style="background-color: #d63384">
                    <h5 class="text-white ps-3 pt-2 pb-2">JP List 📝</h5>
                </div>

                <div class="shadow rounded">
                    <div class="input-group p-3">
                        <input type="text" class="form-control" placeholder="Nova tarefa" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-outline-success" type="button">+</button>
                      </div>
                </div>

                <h5 class="mt-4">Suas tarefas: </h5>
                <div style="overflow-y: auto; height: 350px;"></div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>
